<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
		<listener class-name="utilityClass.ListenerClass" />
	</listeners>
<parameter name="browsername" value="chrome"/>
  <test  name="DefaultTest">
    <classes>
      <class name="baseClass.Mainclass"/>
      <class name="setupPages.OR_LoginPage"/>
       <class name="setupPages.UserHomeScreen"/>
    </classes>
  </test> <!-- Test -->
   <test  name="MainFlow">
    <classes>
      <class name="setupEnvironment.Test_Loginapplication"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->